<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.tictactoe" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tic Tac Toe</name>
    <description>
        Tic Tac Toe.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        La cosa nostra
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/icon-36-ldpi.png" />
        <icon density="mdpi" src="resources/android/icon/icon-48-mdpi.png" />
        <icon density="hdpi" src="resources/android/icon/icon-72-hdpi.png" />
        <icon density="xhdpi" src="resources/android/icon/icon-96-xhdpi.png" />
    </platform>
    <icon src="resources/icon.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <engine name="android" spec="~6.0.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.2" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
</widget>
