.header {
  position: relative;

  .center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .text {
    color: white;
    font-size: 29px;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
  }
  .state {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    width: 50px;
    height: 50px;
    background-size: 100%;

    &.o {
      background-image: url('../img/o.png');
    }

    &.x {
      background-image: url('../img/x.png');
    }
  }
}
