.history {
  position: absolute;
  bottom: 0;
  width: 100%;

  .list {
    display: inline-block;
    float: left;
    width: calc(100% - 70px);
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .horizontal-container {
      overflow-x: hidden;;
      overflow-y: hidden;
      height: 100%;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      height: 50px;
      margin-left: 20px;
      left: 0;
      transform: translate(0, -50%);

      .o, .x, .draw {
        vertical-align: top;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align:top;
      }

      .o {
        background-image: url('../img/o.svg');
      }

      .x {
        background-image: url('../img/x.svg');
      }

      .draw {
        background-image: url('../img/draw.svg');
      }
    }
  }

  .trash {
    display: inline-block;
    float: right;
    background-image: url('../img/trash.svg');
    background-size: 50px;
    height: 100%;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
  }
}
