@import "~font-awesome/scss/font-awesome";

.tile {
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  position: relative;
  float: left;
  background-size: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */

  &.o {
    background-image: url('../img/o.svg');
  }

  &.x {
    background-image: url('../img/x.svg');
  }

  &.without-left {
    border-left: 0;
  }

  &.without-right {
    border-right: 0;
  }

  &.without-top {
    border-top: 0;
  }

  &.without-bottom {
    border-bottom: 0;
  }

}
