@import "~font-awesome/scss/font-awesome";

.tile {
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  position: relative;
  float: left;

  .player {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    color: white;
  }

  &.wihout-left {
    border-left: 0;
  }

  &.without-right {
    border-right: 0;
  }

  &.withou-top {
    border-top: 0;
  }

  &.without-bottom {
    border-bottom: 0;
  }

}
